[submodule "02-ai-hermes-webui"]
	path = 02-ai-hermes-webui
	url = git@github.com:Aldo-f/02-ai-hermes-webui.git
[submodule "02-ai-hermes-tq"]
	path = 02-ai-hermes-tq
	url = git@github.com:Aldo-f/02-ai-hermes-tq.git
[submodule "02-ai-llm-infra-sync"]
	path = 02-ai-llm-infra-sync
	url = git@github.com:Aldo-f/02-ai-llm-infra-sync.git
[submodule "04-network-traefik"]
	path = 04-network-traefik
	url = git@github.com:Aldo-f/network-traefik.git
[submodule "06-apps-aldo-f-github-io"]
	path = 06-apps-aldo-f-github-io
	url = git@github.com:Aldo-f/Aldo-f.github.io.git
[submodule "06-apps-thuis-v4"]
	path = 06-apps-thuis-v4
	url = git@github.com:Aldo-f/thuis.git
	branch = v4
[submodule "06-apps-thuis-v5"]
	path = 06-apps-thuis-v5
	url = git@github.com:Aldo-f/thuis.git
	branch = v5
[submodule "06-apps-clock"]
	path = 06-apps-clock
	url = git@github.com:Aldo-f/clock.git
[submodule "06-apps-passive-income"]
	path = 06-apps-passive-income
	url = git@github.com:Aldo-f/06-apps-passive-income.git
[submodule "06-apps-wordpress-stantonius"]
	path = 06-apps-wordpress-stantonius
	url = git@github.com:Aldo-f/06-apps-wordpress-stantonius.git
[submodule "06-apps-radio-community"]
	path = 06-apps-radio-community
	url = git@github.com:Aldo-f/radio-community.git
[submodule "02-ai-freellmapi"]
	path = 02-ai-freellmapi
	url = git@github.com:Aldo-f/freellmapi.git
[submodule "blanky"]
	path = blanky
	url = https://gitlab.com/Aldo-f/blanky.git
[submodule "06-apps-letspeppol"]
	path = 06-apps-letspeppol
	url = https://github.com/letspeppol/letspeppol.git
[submodule "06-apps-interest-calculator"]
	path = 06-apps-interest-calculator
	url = https://github.com/Aldo-f/interest-calculator.git
