http:
  routers:
    # ── Homepage ─────────────────────────────────
    homepage-http:
      rule: "Host(`aldof.duckdns.org`)"
      entryPoints:
        - web
      middlewares:
        - https-redirect
      service: homepage

    homepage:
      rule: "Host(`aldof.duckdns.org`)"
      entryPoints:
        - websecure
      service: homepage
      tls:
        certResolver: myresolver

  services:
    homepage:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:8081"
