[Unit]
Description=FreeLLM API Service
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/docker/cli-plugins/docker-compose -f __HOME__/dev/02-ai-freellmapi/docker-compose.yml up freellmapi -d
ExecStop=/usr/libexec/docker/cli-plugins/docker-compose -f __HOME__/dev/02-ai-freellmapi/docker-compose.yml down
User=aldo
Group=aldo

[Install]
WantedBy=multi-user.target
