http:
  routers:
    freellm-http:
      rule: "Host(`freellm.aldof.duckdns.org`)"
      entryPoints:
        - web
      middlewares:
        - https-redirect
      service: freellmapi
    freellm:
      rule: "Host(`freellm.aldof.duckdns.org`)"
      entryPoints:
        - websecure
      service: freellmapi
      tls:
        certResolver: myresolver
    nextcloud-http:
      rule: "Host(`cloud.aldof.duckdns.org`)"
      entryPoints:
        - web
      middlewares:
        - https-redirect
      service: nextcloud
    nextcloud:
      rule: "Host(`cloud.aldof.duckdns.org`)"
      entryPoints:
        - websecure
      service: nextcloud
      tls:
        certResolver: myresolver
    hermes-http:
      rule: "Host(`web.hermes.dev.aldof.duckdns.org`)"
      entryPoints:
        - web
      middlewares:
        - https-redirect
      service: hermes-webui
    hermes:
      rule: "Host(`web.hermes.dev.aldof.duckdns.org`)"
      entryPoints:
        - websecure
      service: hermes-webui
      tls:
        certResolver: myresolver
    homepage-http:
      rule: "Host(`aldof.duckdns.org`)"
      entryPoints:
        - web
      middlewares:
        - https-redirect
      service: homepage
    homepage:
      rule: "Host(`aldof.duckdns.org`)"
      entryPoints:
        - websecure
      service: homepage
      tls:
        certResolver: myresolver
    taskqueue-http:
      rule: "Host(`taskqueue.aldof.duckdns.org`)"
      entryPoints:
        - web
      middlewares:
        - https-redirect
      service: taskqueue
    taskqueue:
      rule: "Host(`taskqueue.aldof.duckdns.org`)"
      entryPoints:
        - websecure
      service: taskqueue
      tls:
        certResolver: myresolver

  services:
    freellmapi:
      loadBalancer:
        servers:
          - url: "http://freellmapi:3001"
    nextcloud:
      loadBalancer:
        servers:
          - url: "http://nextcloud:80"
    hermes-webui:
      loadBalancer:
        servers:
          - url: "http://hermes-webui:8787"
    taskqueue:
      loadBalancer:
        servers:
          - url: "http://192.168.0.5:8788"
    homepage:
      loadBalancer:
        servers:
          - url: "http://192.168.0.5:8081"

  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
        permanent: true